@echo off

:: Path to where you usually clone repos.
set goweb_path=C:\path\to\files

:: Path to where you saved your SSHProfiles.
set term_path=C:\path\to\files

:: Your GitHub username.
set gh_username=my_username
